
.main{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  text-align: center;
  padding:20px;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vh;

}
.submit{
  background-color:thistle;
  color: #282c34;
  font-style: bold;
  margin:10px;
  
  border-radius: 10px;
  box-shadow: teal 2px;
  
  padding: 5px;
}
.inputbutton{
  color: #dd3e54;
  margin:10px;
  border-radius: 10px;
  background-color: bisque;
  padding: 5px;
  
}
.news{
  border-radius: 10px;
  box-shadow:0px 5px 20px rgb(71,71,71);
  margin:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: cornsilk;
  align-items:center;
  min-width: 40%;
  padding:10px;
}
.form{
  display:inline;
  border-radius: 10px;
  padding:20px;
  /* margin:20px; */
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
.Display{
  
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
}
.heading{
  background-color: #2980B9;
  font-family: sans-serif;
  display:inline-block;
  padding: 10px;
  border-radius: 10px;;
}
.Imag
{ 
  height:200px;
  width:200px;
 
  align-content: center;
  justify-content: center;
  position: relative;
  display: flex;

}

.App {
  text-align: center;
}
